HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
*.code-workspace

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/

### Logs ###
*.log

### OS Junk ###
.DS_Store
Thumbs.db

### Secrets ###
.env
secret.properties
application.properties
